<%- include('_layouts/header'); %>

<div class="image-1">
  <img src="images/logo.png" alt="">
  <h1>Treck Sports</h1>
  <br>
</div>

<div class="small-container">
  <p class="ppp">We deliver top class Sports equipments</p>
  <br><br><br><br><br><br><br>
</div>


<%- include('_layouts/footer'); %>
