<%- include('_layouts/header'); %>


<div class="containerrr">
  <div class="containe">
    <div class="row">
      <div class="col-2">
        <h1>Give your Game<br>A Professional Look</h1>
        <p>Give your-self a professional styish look with all new cricket
          appliances<br>and train yoursef to get ready to be selected for
           team India.</p>
      </div>
      <div class="col-2">
        <img src="images/homePage/home-page.png" alt="">
      </div>
    </div>
  </div>
  </div>
  <!-- featured images -->
  <div class="categories">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
          <img src="images/homePage/cat-1.jpg" alt="">
        </div>
        <div class="col-3">
          <img src="images/homePage/cat-2.jpg" alt="">
        </div>
        <div class="col-3">
          <img src="images/homePage/cat-3.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img src="images/homePage/offer.png" alt="" class="offer-img">
      </div>
      <div class="col-2">
        <p>Coming Soon</p>
        <br>
        <h2>Team India Signed jeresy</h2>
        <br>
        <small>Get a chance to get the all new WTC Indian team jersey signed by all fomer and current indian cricket team legends.</small>
      </div>
    </div>
  </div>
</div>

<!-- brands -->

<div class="brands">
  <div class="small-container">
    <h2 class="title">Title Sponsers</h2>
    <div class="row">
      <div class="col-5">
        <img src="images/homePage/kooka.png" alt="">
      </div>
      <div class="col-5">
        <img src="images/homePage/gm.png" alt="">
      </div>
      <div class="col-5">
        <img src="images/homePage/nb.png" alt="">
      </div>
      <div class="col-5">
        <img src="images/homePage/ss.png" alt="">
      </div>
      <div class="col-5">
        <img src="images/homePage/ton.png" alt="">
      </div>
    </div>
  </div>
</div>



<%- include('_layouts/footer'); %>
